<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title -->
    <title><%=title%></title>

    <!-- linking to bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- font awesome script tag -->
    <script src="https://kit.fontawesome.com/c035598f8c.js" crossorigin="anonymous"></script>  

    <!-- linking to the css file -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- the entire box where all happens -->
    <div class="container">

        <!-- the heading -->
        <div class="heading">
            <h1> To Do List </h1>
        </div>

        <!-- starting the form that needs to be filled -->
        <form action='/createTodoList' class="detail" method="POST">
           
            <!-- div for adding description of the task -->
            <div class="card">
                
                <h6 class="card-subtitle mb-2 text-muted">DESCRIPTION</h6>
                <textarea class="form-control" name="Description" placeholder="What do you need to do ?" required></textarea>
            </div>

            <!-- the second row  -->
            <div>

                <div class="category-card">
                    <span class="text-muted">CATEGORY</span>
                </div>

                <div class="due-date-card">
                    <span class="text-muted">DUE-DATE</span>
                </div>

            </div>

            <!-- the drop down -->
            <div class="bottom-line">

                <div class="category-card">
                    <select class="custom-select" name="Category">
                        <option value="Personal">Personal</option>
                        <option value="Professional">Work</option>
                        <option value="Academics">School</option>
                        <option value="Social">Home</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="due-date-card">
                    <input type="date"name="Date" required>
                </div>

            </div>

            <!-- the button row -->
            <div class="action-button-container">
                <div class="action-add-button">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-plus"></i> Add Task</button>
                </div>
        </form>

        <form action="/delete-task" method="get" class="aform">
                <div class="action-delete-button">
                    <button class="btn btn-danger btn-lg" type="submit">
                        <i class="fas fa-trash-alt"></i> Delete Task </button>
                </div>
    </div>

    <!-- the to do list -->
    
        <% for(let i of todo_list){ %>
            <div class="task-card-list">
                <div class="tick-box-check">
                    <input type="checkbox" class="select-task" id="checkbox" name="<%=i._id%>">
                </div>
                <div class="task-body">
                    <p class="text-muted"><%=i.Description%></p>
                    <p class="text-muted"><i class="far fa-calendar-alt"></i> <%=i.Date%></p>
                </div>
                
                <div class="tag-box">
                    <% if(i.Category=='Personal') {%>
                        <h4 class="Personal"><span > <%= i.Category %> </span></h4>
                        <% }%>
            
                        <% if(i.Category=='Work') {%>
                        <h4 class="Professional"><span > <%= i.Category %> </span></h4>
                        <% }%>
            
                        <% if(i.Category=='School') {%>
                        <h4 class="Academics"><span > <%= i.Category %> </span></h4>
                        <% }%>
            
                        <% if(i.Category=='Home') {%>
                        <h4 class="Social"><span > <%= i.Category %> </span></h4>
                        <% }%>
            
                        <% if(i.Category=='Other') {%>
                        <h4 class="Other"><span > <%= i.Category %> </span></h4>
                    <% }%>
                </div>
            </div>
        <%}%>
    </div>
    </form>

    <!-- the bootstrap script tag -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>